<h2>Editing Poll - edit the poll by clicking on it's descriptions</h2>

<table class = "table">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Question
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class = "lead"><%= best_in_place @poll, :title %></td>
      <td>
        <% @poll.questions.each do |question| %>
        <div class="well">
          <%= best_in_place question, :description, remote: :true %>
          
          <%= link_to 'Destroy', poll_question_path(@poll.edit_url, question.id), class: 'btn btn-mini btn-primary', method: :delete, data: { confirm: 'Are you sure?'} %>
          <%= link_to 'Answers',  question_answers_path(question.id) + ".csv", class: 'btn btn-mini btn-primary'%>
        </div>  
        
      <%end%>      
      </td>
    </tr>
  </tbody>
</table>

<div class = 'row'>
    <h2>Question</h2>
    <%= render 'questions/form' %>
</div>