<h1>Polls</h1>

<% @polls.each do |poll| %>
  <dl class = 'dl-horizontal'>
    <dt><%= poll.title %></dt>
     <dd> <%= link_to 'Show', poll_path(poll.edit_url) %> | 
      <%= link_to 'Edit', edit_poll_path(poll.edit_url) %> | 
      <%= link_to 'Destroy', poll_path(poll.edit_url), method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Short Url', poll.edit_url%>
    </dd>
  </dl>
<% end %>
